name: Build Windows App

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
      - name: Install Dependencies
        run: bun install --force
      - name: Build App
        run: bun run package-win
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true


